# Data Transformation I

Next, we will begin transforming our dataset by dropping values. Our primary goal of this process is to:

* drop rows with missing data
* drop select columns with overwhelmingly missing data

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part2.md` file.

In [12]:
import pandas as pd
import numpy as np

In [13]:
# TODO: load `data/raw/shopping.csv` as a pandas dataframe

datafile = pd.read_csv(r"C:\Users\neves\Downloads\shopping-behavior\shopping-behavior\data\raw\shopping.csv")

In [14]:
# TODO: print out the shape of this dataframe for better clarity
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html

datafile.shape

(3900, 15)

In [15]:
# TODO: display how many null values are in each column of this dataframe
# Documentation: https://datatofish.com/count-nan-pandas-dataframe/

datafile.isnull().sum()

Customer ID                  0
Age                        390
Gender                       0
Item Purchased               0
Purchase Amount (USD)        0
Location                   390
Size                         0
Color                        0
Season                       0
Review Rating             2469
Shipping Type                0
Promo Code Used              0
Previous Purchases           0
Payment Method               0
Frequency of Purchases    2340
dtype: int64

In [16]:
# TODO: it looks like there is roughly 65% of data missing "Frequency of Purchases". Drop this column, as it is mostly empty and unneeded for our analysis.
# In addition, also drop "Customer ID" as this column is also unnecessary
# Reassign this dropped dataframe as a new variable
# Documentation: drive.google.com/drive/folders/1pAWY1JqIQw26uhtT272AoDDeq7jtbkm2

df = datafile.drop("Customer ID", axis=1).drop("Frequency of Purchases", axis=1)

In [17]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3900, 13)"

df.shape

(3900, 13)

In [18]:
# TODO: while "Review Rating" is also mostly empty, we are interested in figuring out why some users
# leave reviews and others don't. 

# Therefore we will NOT drop this column. Instead, let's reassign 
# all missing values in "Review Rating" with "Missing", and all non-na values as "Present"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

df["Review Rating"] = df["Review Rating"].notnull().replace(True, "Present").replace(False, "Missing")

In [19]:
# TODO: Now that we've dropped and transformed our columns, drop the remaining rows that contain missing values
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

df = df.dropna()

In [20]:
# TODO: display how many null values are in each column of this dataframe
# validate that each column has no missing values

df.isnull().sum()

Age                      0
Gender                   0
Item Purchased           0
Purchase Amount (USD)    0
Location                 0
Size                     0
Color                    0
Season                   0
Review Rating            0
Shipping Type            0
Promo Code Used          0
Previous Purchases       0
Payment Method           0
dtype: int64

In [21]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3158, 13)"

df.shape

(3158, 13)

In [22]:
# TODO: print out the first 5 rows of this dataframe for validation

print(df.head(5))

    Age Gender Item Purchased  Purchase Amount (USD)    Location Size  \
2  31.0   Male       Leggings              24.231704      Nevada    M
4  38.0   Male     Sunglasses              36.545487      Oregon    S
5  26.0   Male       Leggings              23.595139      Nevada   XL
6  43.0   Male          Dress              34.079015  California    M
7  29.0   Male         Shorts              23.796439   Minnesota    M

         Color  Season Review Rating Shipping Type Promo Code Used  \
2  Terra cotta  Winter       Present      Standard              No
4    Aubergine  Summer       Missing      Standard              No
5        Brown  Winter       Missing      Standard              No
6  Terra cotta    Fall       Present      Standard              No
7     Lavender  Summer       Present       Express              No

   Previous Purchases Payment Method
2                   0    Credit Card
4                   0    Credit Card
5                   3    Credit Card
6                   0    Credit Card
7                   0    Credit Card

In [24]:
# TODO: write this newly transformed dataset to the `data/processed` folder. Name it "shopping_cleaned.csv" 
# Be sure to not include an additional index when writing this csv file
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

df.to_csv('../data/processed/shopping_cleaned.csv', index= False)